@{
    ViewData["Title"] = "INCIWIKI";
}

<div class="container">
    <div class="row">
        <h1>@ViewData["Title"]</h1>


                <p>
                    INCIWIKI, popüler cilt bakım ürünlerinin içerikleri hakkında bilgi veren ve kullanıcıların bu
                    içerikler hakkında yorum yapmasına, içerikleri oylamasına olanak sağlayan bir web uygulamasıdır.
                </p>

                <h1 style="color:#ee82ee;">
                    INCI'yi Daha Önce Duydunuz Mu?
                </h1>
                <p>
                    INCI, Kozmetik Bileşenlerin Uluslararası İsimlendirilmesi isminin kısaltımıdır. INCI isimleri
                    Amerika Birleşik Devletleri, Avrupa Birliği, Çin, Japonya ve diğer birçok ülkede kozmetik
                    ürün etiketlerinde içeriklerin listelenmesi için kullanılmaktadır. Birkaç istisna dışında, tüm
                    ülkelerdeki INCI etiketleme adları aynıdır.
                </p>

                <p style="color: #2b4b80;">
                    INCIWIKI üzerindeki cilt bakım içerikleri, INCI isimleriyle yazılmıştır.
                </p>

    </div>
 </div>
