@{
    ViewData["Title"] = "Ana Sayfa";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1">
                <h1>Bilim ve bakımın buluştuğu noktaya hoş geldin!</h1>
                <h2>
                    Cilt bakım meraklılarının en bilimsel ve doğru bilgileri bulduğu INCIWIKI, her geçen gün büyümeye devam ediyor.
                </h2>
                <a asp-area="" asp-controller="Home" asp-action="About" class="btn-get-started scrollto">INCIWIKI</a>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="~/img/logo/logo.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>
</section>