@page
@model RegisterModel
@{
    ViewData["Title"] = "Üye Ol";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Yeni bir hesap oluşturun.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Kayıt Ol</button>
        </form>
    </div>

    <div class="col-md-6">
        <i class="bx bx-receipt"></i>
        <h4>INCI'yi daha önce duymuş muydunuz?</h4>
        <p>
            INCI, Kozmetik Bileşenlerin Uluslararası İsimlendirilmesi isminin kısaltımıdır. INCI isimleri
            Amerika Birleşik Devletleri, Avrupa Birliği, Çin, Japonya ve diğer birçok ülkede kozmetik
            ürün etiketlerinde içeriklerin listelenmesi için kullanılmaktadır. Birkaç istisna dışında, tüm
            ülkelerdeki INCI etiketleme adları aynıdır.
        </p>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

