@model IEnumerable<Inciwiki.Models.IhtiyacIcerik>
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Nemlendirici</h2>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
                    @if (item.Ihtiyac.IhtiyacAdi == "Nemlendirici")
                    {
                        <div class="icon-box">
                            @*<h2>@Html.DisplayFor(modelItem => item.Ihtiyac.IhtiyacAdi)</h2>*@

                            <div class="icon"><img src="@Url.Content(item.Icerik.IcerikResmi)" class="d-block w-50" asp-append-version="true" /></div>
                            <h4 class="title"><a href=""> @Html.DisplayFor(modelItem => item.Icerik.IcerikAdi)</a></h4>
                            <p class="description">@Html.DisplayFor(modelItem => item.Icerik.Aciklamasi)</p>

                        </div>
                    }
                </div>
            }
        </div>

    </div>
</section><!-- End Services Section -->
