@model IhtiyacIcerik

    <li class="drop-down">
        <a href="">İhtiyaçlar</a>
        <ul>
            <li><a asp-area="" asp-controller="IhtiyacIcerik" asp-action="List" asp-route-id="Model.IhtiyacId">Akne Karşıtı</a></li>
            <li><a asp-area="" asp-controller="IhtiyacIcerik" asp-action="List">Antibakteriyel</a></li>
            <li><a asp-area="" asp-controller="IhtiyacIcerik" asp-action="List">Antioksidan</a></li>
            <li><a asp-area="" asp-controller="IhtiyacIcerik" asp-action="List">Cilt Aydınlatıcı</a></li>
            <li><a asp-area="" asp-controller="IhtiyacIcerik" asp-action="List">Cilt İyileştirici</a></li>
            <li><a asp-area="" asp-controller="IhtiyacIcerik" asp-action="List">Hücre Yenileyici</a></li>
            <li><a asp-area="" asp-controller="IhtiyacIcerik" asp-action="List">Sürfaktan</a></li>
            <li><a asp-area="" asp-controller="IhtiyacIcerik" asp-action="List">Nemlendirici</a></li>
            <li><a asp-area="" asp-controller="IhtiyacIcerik" asp-action="List">Yatıştırıcı</a></li>
            <li><a asp-area="" asp-controller="IhtiyacIcerik" asp-action="List">Güneş Koruması</a></li>
        </ul>
    </li>
