@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{<li class="get-started">
     <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
    </li>
    <li class="get-started">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link">Çıkış Yap</button>
        </form>
    </li>
}
else
{
    <li class="get-started">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Üye Ol</a>
    </li>
    <li class="get-started">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Giriş Yap</a>
    </li>
}