@model Inciwiki.Models.Icerik

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Icerik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IcerikAdi" class="control-label"></label>
                <input asp-for="IcerikAdi" class="form-control" />
                <span asp-validation-for="IcerikAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklamasi" class="control-label"></label>
                <input asp-for="Aciklamasi" class="form-control" />
                <span asp-validation-for="Aciklamasi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IcerikResmi" class="control-label"></label>
                <input type="file" class="form-control" name="files" />
                <span asp-validation-for="IcerikResmi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puani" class="control-label"></label>
                <input asp-for="Puani" class="form-control" />
                <span asp-validation-for="Puani" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
